<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="d-sm-flex d-block justify-content-between align-items-start">
            <div class="mb-3 mb-sm-0">
              <h4 class="card-title">Clients</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque.</p>
            </div>


            <div>
              <select class="form-select ">
                <option value="1">March 2025</option>
                <option value="2">April 2025</option>
                <option value="3">May 2025</option>
                <option value="4">June 2025</option>
              </select>
            </div>
          </div>


          <div>
            <app-client-table></app-client-table>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
