<table class="table table-responsive text-nowrap mb-0 align-middle ">
  <thead class="text-dark">
    <tr>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Depots</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0 text-center">Ville</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0 text-center">Status</h6>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let depot of depots">
      <td>
        <div class="d-flex align-items-center">

          <div class="text-white text-bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
            <i class="ti ti ti-layout-grid fs-6"></i>
          </div>
          <div class="ms-3">
            <h6 class="fs-4 fw-semibold mb-0">{{depot.label}}</h6>
            <span class="fw-normal">{{depot.ref}}</span>
          </div>
        </div>
      </td>
      <td class="text-center">
        <h6 class="mb-0 fw-semibold">{{depot.ville.label}}</h6>
      </td>
      <td class="text-center">
        <span class="badge" [ngClass]="calculateTotalQuantity(depot) > 0 ? 'bg-light-success text-success' : 'bg-light-danger text-danger'">
          {{ calculateTotalQuantity(depot) }} produits en stock
        </span>
      </td>
      <td>
        <div class="dropdown dropstart">
          <a href="javascript:void(0)" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ti ti-dots fs-5"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item d-flex align-items-center gap-3" href="javascript:void(0)" (click)="viewDetails(depot)" data-bs-toggle="modal" data-bs-target="#depotDetailsModal">
                <i class="fs-4 ti ti-user-circle"></i>Details
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-3" href="javascript:void(0)" href="javascript:void(0)"
                (click)="deleteDepot(depot)"
                data-bs-toggle="modal"
                data-bs-target="#deleteConfirmModal"><i class="fs-4 ti ti-trash"></i>Delete</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- details modal  -->

<div class="modal fade" id="clientDetailsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg rounded-4">
      <div class="modal-header border-bottom-0 pb-0">
        <h5 class="fw-semibold text-dark mb-0">Détails du Depot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-center py-4" *ngIf="selectedDepot">
        <div class="position-relative d-inline-block mb-3">
          <img [src]="selectedDepot.image || '../assets/images/profile/user-2.jpg'"
               class="rounded-circle border border-3 border-primary p-1"
               width="100" height="100">
          <span class="position-absolute bottom-0 end-0 badge rounded-pill bg-success border border-2 border-white p-2">
            <span class="visually-hidden">En ligne</span>
          </span>
        </div>

        <h4 class="fw-bold mb-1">{{selectedDepot.label}}</h4>
        <span class="badge bg-primary-subtle text-primary rounded-pill px-3 mb-4">
          {{selectedDepot.ref}}
        </span>

        <div class="text-start bg-light rounded-3 p-3 mx-2">
          <div class="d-flex align-items-center mb-3">
            <i class="ti ti-mail fs-5 text-primary me-3"></i>
            <div>
              <p class="text-muted mb-0 fs-2">Email Address</p>
              <h6 class="mb-0 fw-semibold">{{selectedDepot.label}}</h6>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <i class="ti ti-phone fs-5 text-primary me-3"></i>
            <div>
              <p class="text-muted mb-0 fs-2">Phone Number</p>
              <h6 class="mb-0 fw-semibold">+{{selectedDepot.id || '216XXXXXXXX'}}</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer border-top-0 pt-0">
        <button type="button" class="btn btn-light-danger text-danger font-medium w-100" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>


<!-- confirmation modal  -->

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-0 shadow-lg rounded-4">
      <div class="modal-body text-center p-4">
        <div class="text-danger mb-3">
          <i class="ti ti-alert-circle display-4"></i>
        </div>

        <h5 class="fw-bold mb-2">Supprimer le depot  ?</h5>
        <p class="text-muted fs-3 mb-4">
          Êtes-vous sûr de vouloir supprimer <strong>{{depotToDelete?.label }}</strong> ? Cette action est irréversible.
        </p>

        <div class="d-flex gap-2">
          <button type="button" class="btn btn-light w-100 py-2 fw-semibold" data-bs-dismiss="modal">
            Annuler
          </button>
          <button type="button" class="btn btn-danger w-100 py-2 fw-semibold"
                  (click)="confirmDeletion()" data-bs-dismiss="modal">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
